#### Q1. What is the difference between Ordinal Encoding and Label Encoding? Provide an example of when you might choose one over the other.

Both techniques are used for converting  categorical variable into numerical values.
Ordinal encoding is used based on the rank whereas Label encoding used to assign numerical value to categorical variable.

example:

if we are working with a dataset that contains a variable for "education level" with categories "high school", "college", "graduate school", and "PhD", we might choose to use ordinal encoding to capture the hierarchy between these categories. However, if we are working with a dataset that contains a variable for "car make" with categories "Toyota", "Honda", "Ford", and "Chevrolet", we might choose to use label encoding, as there is no clear order or hierarchy between these categories.

#### Q2. Explain how Target Guided Ordinal Encoding works and provide an example of when you might use it in a machine learning project.

Target guided ordinal encoding used to assign numerical value to categorical variable based on the target variable. and assigning is done base on mean and median.

example:

Suppose we have a dataset that contains a categorical variable "gender" with values "male" and "female", and a binary target variable "loan_status" with values 0 and 1, where 0 indicates a loan rejection and 1 indicates a loan approval. We want to encode the "gender" variable using Target Guided Ordinal Encoding

#### Q3. Define covariance and explain why it is important in statistical analysis. How is covariance calculated?

Covariance represents extent that show how two variable are dependent. It is very important concept in statistical analysis as it is helps to understand the relationships between two variable.

cov(X, Y) = (1/n) ∑(Xi - X̄)(Yi - Ȳ)

#### Q4. For a dataset with the following categorical variables: Color (red, green, blue), Size (small, medium, large), and Material (wood, metal, plastic), perform label encoding using Python's scikit-learn library. Show your code and explain the output.

In [18]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder
import warnings
warnings.simplefilter('ignore')

#### 1.OneHotEncoding

In [2]:
df = pd.DataFrame({
    'colors' : ['red','green','blue']
})

In [3]:
df

  colors
0    red
1  green
2   blue

In [4]:
oneencode = OneHotEncoder()

In [6]:
encoded = oneencode.fit_transform(df[['colors']]).toarray()

In [7]:
encoded_df = pd.DataFrame(encoded,columns=oneencode.get_feature_names_out())

In [8]:
encoded_df

   colors_blue  colors_green  colors_red
0          0.0           0.0         1.0
1          0.0           1.0         0.0
2          1.0           0.0         0.0

#### 2. Ordinal Encoding

In [9]:
df = pd.DataFrame({
    'size' : ['small','medium','large']
})

In [10]:
df

     size
0   small
1  medium
2   large

In [26]:
ord_encoder = OrdinalEncoder(categories=[['small','medium','large']])

In [27]:
encoded = ord_encoder.fit_transform(df[['size']])

In [28]:
encoded

array([[0.],
       [1.],
       [2.]])

#### 3. Label Encoding

In [30]:
df = pd.DataFrame({
    'material' : ['wood','metal','plastic']
})

In [31]:
lbl_encoder = LabelEncoder()

In [33]:
encoded = lbl_encoder.fit_transform(df[['material']])

In [34]:
encoded

array([2, 0, 1])

#### Q5. Calculate the covariance matrix for the following variables in a dataset: Age, Income, and Education level. Interpret the results.

In [47]:
df = pd.DataFrame({
    'Age' : [21,23,25,30],
    'Income' : [12000,50000,45000,67000],
    'Education level': ['Bcom','Btech','Arts','Bscs']
})

In [49]:
df.cov()

                 Age        Income
Age        14.916667  7.683333e+04
Income  76833.333333  5.296667e+08

#### Q6. You are working on a machine learning project with a dataset containing several categorical variables, including "Gender" (Male/Female), "Education Level" (High School/Bachelor's/Master's/PhD), and "Employment Status" (Unemployed/Part-Time/Full-Time). Which encoding method would you use for each variable, and why?

As you can see all are categorical variable for gender and employment status i would use one hot encoding and for education level i would use ordinal encoding.

#### Gender

In [50]:
df = pd.DataFrame({
    'Gender' : ['Male','Female']
})

In [51]:
df

   Gender
0    Male
1  Female

In [52]:
one_encoder = OneHotEncoder()

In [55]:
encoded = one_encoder.fit_transform(df[['Gender']]).toarray()

In [57]:
encoded_df = pd.DataFrame(encoded,columns=one_encoder.get_feature_names_out())

In [58]:
encoded_df

   Gender_Female  Gender_Male
0            0.0          1.0
1            1.0          0.0

#### Education level

In [59]:
df = pd.DataFrame({
    'Education level': ['High school','Bachelor','Master','Phd']
})

In [60]:
df

  Education level
0     High school
1        Bachelor
2          Master
3             Phd

In [64]:
ord_encoder = OrdinalEncoder(categories=[['High school','Bachelor','Master','Phd']])

In [65]:
encoded = ord_encoder.fit_transform(df[['Education level']])

In [66]:
encoded

array([[0.],
       [1.],
       [2.],
       [3.]])

#### Employment status

In [67]:
df = pd.DataFrame({
    'Employment status' : ['part time','full time']
})

In [68]:
df

  Employment status
0         part time
1         full time

In [69]:
one_encoder = OneHotEncoder()

In [72]:
encoded = one_encoder.fit_transform(df[['Employment status']]).toarray()

In [74]:
encoded_df = pd.DataFrame(encoded,columns=one_encoder.get_feature_names_out())

In [75]:
encoded_df

   Employment status_full time  Employment status_part time
0                          0.0                          1.0
1                          1.0                          0.0

#### Q7. You are analyzing a dataset with two continuous variables, "Temperature" and "Humidity", and two categorical variables, "Weather Condition" (Sunny/Cloudy/Rainy) and "Wind Direction" (North/South/East/West). Calculate the covariance between each pair of variables and interpret the results.